body{
    padding-top: 55px;
}

nav{
    padding-right: 0.5em;
}

.corps{
    text-align: center;
}

section{
    padding: 0.5em;
}

@media (max-width: 768px) {
    body{
        padding-top: 215px;
    }
    nav{
        padding-left: 1em;
    }
}

.form-inline{
    display: inline;
}

.table-responsive {
    margin: 0 auto;
    width: auto;
    min-width: 25%;
}

.table-responsive th{
    padding: 0.5em 2em 0.5em 2em;
}

.btn-rnd-left{
    border-radius: 50% 0 0 50%;
    border-right: 0;
}

.btn-rnd-right{
    border-radius: 0 50% 50% 0;
    border-left: 0;
}

.btn-carre{
    border-radius: 0 0 0 0;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.hover:hover{
    background-color: #5bc0de;
}

.btn{
    margin-bottom: 0.1em;
}

.error{
    border-color: #a94442;
}

.alert-message{
    z-index: 100;
    overflow: auto;
    position: absolute;
    width: 100%;
}

.input_center{
    text-align: center;
}

.special_checkbox .checkbox{
    padding-left: 1em;
    text-align: left;
}

.special_checkbox .checkbox p{
    margin-bottom: 0.5em;
}

.special_checkbox .checkbox input{
    display:none;
}

.special_checkbox .checkbox input + label::before{
    content:"";
    display:inline-block;
    width:12px;
    height:12px;
    background:#922321;
    border-radius:12px;
    margin-right: 1em;
}
.special_checkbox .checkbox input:checked + label::before{
    background: #389238;
}